/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
  List of custom font names to use in the `font-family` tag
  TTProstoSansCondensed-Black
  TTProstoSansCondensed-Italic
  TTProstoSansCondensed-Bold
  TTProstoSansCondensed-LightItalic
  TTProstoSansCondensed-BlackItalic
  TTProstoSansCondensed-BoldItalic
  TTProstoSansCondensed-Light
  TTProstoSansCondensed-Regular
  TTProstoSansCondensed-Thin
  TTProstoSansCondensed-ThinItalic
*/

html,
body {
  background: #212b5c;
  font-family: TTProstoSansCondensed-Regular;
}

a {
  text-decoration: none;
}

section {
  position: relative;
}

.wrapper,
.container {
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 80%;
}

header,
.speakers {
  background: #2a3471;
}

header h1,
header h3 {
  color: #ffc9c0;
}

header h1 {
  font-size: 110px;
  margin: 320px 0 0;
}

header h2 {
  margin-top: -30px;
  margin-bottom: 35px;
}

header h3 {
  letter-spacing: 2px;
  margin-bottom: 280px;
}

footer,
.links {
  background: #212b5c;
}

.deets {
  background: #5166a9;
}

footer,
.deets p {
  color: #ffdfd6;
}

.sign-up {
  background: #667cb7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;text-transform: uppercase;
}

h1,
h2 {
  font-family: TTProstoSansCondensed-Black;
}

h2 {
  color: white;
  font-family: TTProstoSansCondensed-Bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.links .copy {
  font-size: 2em;
  margin-top: 145px;
}

.links p {
  color: #ffc9c0;
  text-transform: uppercase;
}

.links .sign-up {
  display: inline-block;
  background: #667cb7;
  color: white;
  font-size: 0.75em;
  margin-bottom: 64px;
  margin-top: 32px;
  padding: 0.4em 1em;
  text-align: center;
  text-transform: uppercase;
}

.links img {
  display: none;
}

.desktop-only {
  display: none;
}

  margin-top: 32px;
.nav {
  min-height: 35px;
}

.hamburger-button {
  position: absolute;
  right: 0;
  top: 50%;
}

.hamburger-button {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

.hamburger-button span,
.hamburger-button span:before,
.hamburger-button span:after {
  background: #ffc9c0;
  border-radius: 1px;
  content: '';
  cursor: pointer;
  display: block;
  height: 5px;
  position: absolute;
  width: 35px;
}

.hamburger-button span:before {
  top: -10px;
}

.hamburger-button span:after {
  bottom: -10px;
}

.hamburger-button span,
.hamburger-button span:before,
.hamburger-button span:after {
  transition: all 500ms ease-in-out;
}

.hamburger-button.active span {
  background-color: transparent;
}

.hamburger-button.active span:before,
.hamburger-button.active span:after {
  top: 0;
}

.hamburger-button.active span:before {
  transform: rotate(45deg);
}

.hamburger-button.active span:after {
  transform: rotate(-45deg);
}

.back-to-top {
  display: none;
}

nav {
  display: none;
  text-transform: uppercase;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  font-weight: bold;
}

.speakers h1,
.speakers h2 {
  color: #667cb7;
}

.speakers h1 {
  font-size: 7em;
  line-height: 0.95;
  margin-top: 150px;
  margin-bottom: 0;
}

.speakers h2 {
  text-transform: none;
}

.speaker-card {
  background: linear-gradient(to bottom, #26306d 50%, transparent 50%);
  color: #ffdfd6;
}

.speaker-card .name {
  font-weight: bold;
  text-transform: uppercase;
}

.speaker-card .subtitle {
  font-style: italic;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* All previous styles styled following layers_web2016_mobile_0_560.jpg */

/* layers_web2016_tab_561_820.jpg */
@media all and (min-width: 561px) {

}

/* layers_web2016_max_821_1024.jpg */
@media all and (min-width: 821px) {
  nav {
    display: block;
  }

  nav li {
    list-style: none;
    float: left;
    width: 157px;
  }

  .back-to-top {
    display: inline;
    position: absolute;
    right: 0;
  }

  .hamburger-button {
    display: none;
  }

  .links .sign-up {
    padding: 0.75em 1em;
  }

  .speaker-card {
    float: left;
  }
}

/* layers_web2016_max_1024.jpg */
@media all and (min-width: 1024px) {

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
