/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
  List of custom font names to use in the `font-family` tag
  TTProstoSansCondensed-Black
  TTProstoSansCondensed-Italic
  TTProstoSansCondensed-Bold
  TTProstoSansCondensed-LightItalic
  TTProstoSansCondensed-BlackItalic
  TTProstoSansCondensed-BoldItalic
  TTProstoSansCondensed-Light
  TTProstoSansCondensed-Regular
  TTProstoSansCondensed-Thin
  TTProstoSansCondensed-ThinItalic
*/

html,
body {
  background: #212c5b;
  font-family: TTProstoSansCondensed-Regular;
}

a {
  text-decoration: none;
}

section {
  position: relative;
}

.wrapper,
.container {
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 80%;
}

header,
.speakers {
  background: #2a3470;
}

header {
  background-image: url('../img/bg.gif');
}

.header-image {
  margin-bottom: 42px;
  margin-top: 215px;
}

.nav .scroll-to-top {
  cursor: pointer;
  display: inline;
}

header .logo {
  margin-top: 28px;
}

header h1,
header h3 {
  color: #ffcebd;
}

header h1 {
  font-size: 110px;
  margin: 128px 0 0;
}

header h2 {
  font-size: 1em;
  margin-top: -24px;
  margin-bottom: 35px;
}

header h3 {
  font-family: TTProstoSansCondensed-Bold;
  font-size: 1em;
  letter-spacing: 2px;
  margin-bottom: 115px;
}

footer,
.what {
  background: #212c5b;
}

.deets {
  background: #5166a8;
}

.deets section:nth-child(2) .copy {
  background-size: 193px 179px;
}

footer,
.deets p {
  color: #ffcdbc;
}

.sign-up {
  background: #657db7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: uppercase;
}

h1,
h2 {
  font-family: TTProstoSansCondensed-Black;
}

h2 {
  color: white;
  text-transform: uppercase;
}

h4 {
  color: white;
  font-family: TTProstoSansCondensed-Black;
  letter-spacing: 2px;
  margin-bottom: -10px;
  padding-top: 15px;
}

.what {
  margin-bottom: 93px;
}

.what .copy {
  font-size: 2em;
  line-height: 1.25em;
}

.what .copy {
  margin-top: 120px;
}

.what p {
  color: #ffcebd;
  font-family: TTProstoSansCondensed-Bold;
  font-size: 0.75em;
  line-height: 1.3em;
  text-transform: uppercase;
  width: 95%;
}

.what p:first-child {
  margin-bottom: -17px;
}

.what .sign-up {
  background: #657db7;
  color: white;
  display: inline-block;
  font-family: TTProstoSansCondensed-Bold;
  font-size: 0.45em;
  line-height: 2em;
  margin-bottom: 64px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.desktop-only {
  display: none;
}

.mobile-only.nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 1s;
  z-index: 1;
}

.mobile-only.nav.get-background-color,
.nav.desktop-only {
  background: #212c5b;
}

.nav.desktop-only {
  margin-top: 0;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

.nav .logo {
  margin-top: 30px;
}

.nav-buttons-wrapper {
  padding-bottom: 22px;
}

.hamburger-button {
  margin-top: 35px;
}

.nav a {
  display: block;
}

.hamburger-button {
  cursor: pointer;
  float: right;
  padding: 10px 35px 16px 0px;
}

.hamburger-button span,
.hamburger-button span:before,
.hamburger-button span:after {
  background: #ffcebd;
  border-radius: 1px;
  content: '';
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  width: 35px;
}

.hamburger-button span:before {
  top: -10px;
}

.hamburger-button span:after {
  bottom: -10px;
}

.hamburger-button span,
.hamburger-button span:before,
.hamburger-button span:after {
  transition: all 500ms ease-in-out;
}

.hamburger-button.active span {
  background-color: transparent;
}

.hamburger-button.active span:before,
.hamburger-button.active span:after {
  top: 0;
}

.hamburger-button.active span:before {
  transform: rotate(45deg);
}

.hamburger-button.active span:after {
  transform: rotate(-45deg);
}

.back-to-top {
  display: none;
}

nav {
  height: 0;
  text-transform: uppercase;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
}

nav.active {
  height: 560px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  font-family: TTProstoSansCondensed-Black;
  font-size: 2em;
  line-height: 3.5em;
  list-style: none;
}

.mobile-only nav li:first-child,
.mobile-only nav li:last-child {
  background: #212c5b;
}

.mobile-only nav li:nth-child(2) {
  background: #2a3470;
}

.mobile-only nav li:nth-child(3) {
  background: #5166a8;
}

.mobile-only nav li:nth-child(4) {
  background: #657db7;
}

.mobile-only nav li:nth-child(odd) a {
  color: #ffcebd;
}

.mobile-only nav li:nth-child(2) a {
  color: #667cb7;
}

.mobile-only nav li:nth-child(4) a {
  color: #212c5b;
}

.speakers h1,
.speakers h2 {
  color: #667cb7;
}

h1.off-center-title {
  font-size: 4em;
  line-height: 0.95;
  margin-top: 128px;
  margin-bottom: 0;
}

.speakers {
  padding-bottom: 116px;
}

.speakers h2 {
  font-family: TTProstoSansCondensed-Bold;
  font-size: 1.2em;
  text-transform: none;
  line-height: 1.1em;
  margin-top: 10px;
}

.speakers section:nth-child(2) {
  margin-top: 50px;
}

.speaker-card {
  background: linear-gradient(to bottom, #26306d 60%, transparent 40%);
  color: #ffcebd;
  height: 192px;
  padding-left: 15px;
  position: relative;
}

.speaker-card > div {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.speaker-card .name {
  font-family: TTProstoSansCondensed-Black;
  font-size: 1.6em;
  line-height: 1em;
  text-transform: uppercase;
}

.speaker-card .subtitle {
  color: white;
  font-family: TTProstoSansCondensed-Italic;
  font-size: 1.3em;
}

.deets {
  padding-bottom: 180px;
}

.deets .copy {
  font-family: TTProstoSansCondensed-Bold;
  font-size: 1.4em;
  line-height: 1.2em;
  margin-top: 32px;
}

.deets h1 {
  color: #212c5b;
  margin-bottom: 50px;
  margin-top: 118px;
}

.deets .directions p {
  color: #fcffff;
  font-family: TTProstoSansCondensed-Regular;
}

.deets .directions p:last-child {
  line-height: 1.35em;
}

.deets .google-map {
  margin-top: 60px;
}

.deets .directions .copy {
  margin-top: 60px;
}

.deets .directions p:first-child {
  text-transform: uppercase;
}

.deets .directions small {
  font-family: TTProstoSansCondensed-Thin;
  text-transform: none;
}

strong {
  font-family: TTProstoSansCondensed-Bold;
  text-transform: uppercase;
}

.sign-up {
  padding-bottom: 144px;
}

.sign-up h1 {
  color: #ffcdbc;
  margin-bottom: 30px;
}

footer h1.off-center-title {
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 60px;
  margin-left: 7px;
  margin-top: 114px;
}

.host-card {
  margin-bottom: 80px;
}

footer .bio p {
  color: white;
  font-size: 1.2em;
  line-height: 1.35em;
  margin-top: 8px;
  width: 90%;
}

footer .name {
  font-family: TTProstoSansCondensed-Black;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 38px;
}

.sponsors {
  margin-top: 93px;
}

footer h3 {
  font-size: 1.3em;
  font-family: TTProstoSansCondensed-Black;
  margin-bottom: -10px;
}

.map {
  background: #212c5b;
  height: 500px;
  width: 500px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* All previous styles styled following layers_web2016_mobile_0_560.jpg */

/* layers_web2016_tab_561_820.jpg */
@media all and (min-width: 561px) {
  section {
    position: static;
  }

  .what .sign-up {
    width: 50%;
  }

  .speaker-card,
  .sponsor-card {
    width: 49%;
  }

  .speaker-card:nth-child(odd),
  .sponsor-card:nth-child(odd) {
    float: left;
  }

  .speaker-card:nth-child(even),
  .sponsor-card:nth-child(even) {
    float: right;
  }

  header h2,
  header h3 {
    font-size: 1.4em;
  }
}

/* layers_web2016_max_821_1024.jpg */
@media all and (min-width: 821px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .header-image {
    width: 58%;
  }

  .nav {
    margin-top: 20px;
    overflow: hidden;
    top: 0;
  }

  .nav .logo {
    margin: 0;
  }

  nav li {
    float: left;
    font-size: 0.75em;
    margin-left: 12%;
  }

  nav li:first-child,
  nav li:last-child {
    position: absolute;
  }

  nav li:first-child {
    left: 4%;
  }

  nav li:last-child {
    right: 4%;
  }

  nav li:first-child,
  nav li:nth-child(2) {
    margin-left: 0;
  }

  nav a {
    color: white;
    letter-spacing: 2px;
    line-height: 3.5em;
  }

  .what section:last-child {
    background: url(../img/butthead.png) top right no-repeat;
    background-size: 193px 179px;
  }

  .what .copy {
    width: 70%;
  }

  .what .sign-up {
    margin-top: 0;
  }

  .speaker-cards-container {
    float: right;
    width: 70%;
  }

  .speakers section:first-child img {
    margin-left: 4%;
    margin-top: 40px;
  }

  .deets .copy {
    float: right;
    width: 70%;
  }

  /* Begin odd overlaying stuff */
  .speakers .container,
  .deets .container,
  .sign-up .container {
    position: relative;
    overflow: hidden;
  }

  .speakers section:first-child,
  .deets section:first-child {
    position: absolute;
  }

  .speakers section:nth-child(2) {
    margin-top: 0;
  }

  .speakers section.speaker-cards-container {
    margin-top: 140px;
  }

  .google-map {
    clear: right;
    height: 440px; /* Height of the map */
    position: relative;
  }

  .google-map .directions {
    position: absolute;
    top: 0;
    right: 0;
  }

  .sign-up h1 {
    float: left;
  }

  .tito-container {
    float: right;
    margin-top: 140px;
    width: 70%;
  }

  .host-cards-container {
    overflow: hidden;
  }

  .host-cards-container section:first-child {
    float: left;
    width: 30%;
  }

  .host-cards-container section:last-child {
    float: right;
    margin-top: 130px;
    width: 60%;
  }

  .sponsor-card {
    float: right;
    height: 250px;
  }

  .sponsor-card:nth-child(odd),
  .sponsor-card:nth-child(even) {
    float: left;
  }

  .sponsor-card.half-card {
    float: right;
    height: 125px;
  }

  .sponsors {
    float: right;
    width: 60%;
  }

  .sign-up img {
    display: none;
  }
}

/* layers_web2016_max_1024.jpg */
@media all and (min-width: 1024px) {
  .speaker-card {
    float: left !important;
    margin-left: 1%;
    width: 32%;
  }

  .deets p {
    clear: right;
    float: right;
    width: 70%;
  }

  .tito-container {
    width: 50%;
  }

  .sign-up img {
    display: block;
    float: right;
    margin-left: 2%;
    margin-top: 160px;
  }

  .sponsors,
  .host-cards-container section:last-child {
    width: 70%;
  }

  .host-card {
    float: left;
    width: 50%;
  }

  .sponsor-card {
    width: 33%;
  }

  .deets section:nth-child(2) .copy {
    background: url(../img/butthead.png) left center no-repeat;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
