/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
  List of custom font names to use in the `font-family` tag
  # Super Narrow Stuff
  RamaGothicC-SemiBold

  # Everything Else
  TTProstoSansCondensed-Black
  TTProstoSansCondensed-Italic
  TTProstoSansCondensed-Bold
  TTProstoSansCondensed-Regular
*/

/*
  List of colors we're using
  #ec6561   LIGHT RED
  #c54851   DARK RED
  #25235a   DARK BLUE
  #edf1f2   LIGHT GRAY
  #e3e5e5   MID GRAY
  #bfbfbf   DARK GRAY
*/


html,
body {
  background: #edf1f2;
  font-family: TTProstoSansCondensed-Regular;
}

section {
  position: relative;
}

.wrapper,
.container {
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 80%;
}

.small-header {
  display: inline;
}

.medium-header,
.large-header {
  display: none;
}

header {
  background: url('../img/patterns_stripe/light_to_dark.svg') 0 100px repeat-x transparent;
  margin-top: 85px;
  padding-bottom: 120px;
  min-height: 700px;
}

.nav .scroll-to-top {
  cursor: pointer;
  display: inline;
}

header .logo {
  margin-top: 28px;
}

header h1,
header h3 {
  color: #ffcebd;
}

header h1 {
  font-size: 110px;
  margin: 128px 0 0;
}

header h2 {
  font-size: 1em;
  margin-top: -24px;
  margin-bottom: 35px;
}

header h3 {
  font-family: TTProstoSansCondensed-Bold;
  font-size: 1em;
  letter-spacing: 2px;
  margin-bottom: 115px;
}

footer {
  padding-bottom: 200px;
}

.deets section:nth-child(2) .copy {
  background-size: 193px 179px;
}

.deets p {
  font-family: TTProstoSansCondensed-Regular;
}

footer {
  color: #ec6561;
}

.deets p {
  color: #25235a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2 {
  color: #ec6561;
  font-size: 5em;
  font-family: RamaGothicC-SemiBold;
}

h1 {
  line-height: 0.95;
  margin-top: 128px;
  margin-bottom: 0;
}

h2 {
  letter-spacing: 3px;
  line-height: 0.8em;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  font-family: TTProstoSansCondensed-Black;
  letter-spacing: 2px;
  margin-bottom: -10px;
  padding-top: 15px;
  margin: 0;
}

.what {
  padding-bottom: 93px;
  background-color: #e3e5e5;
}

.what h2 {
  /* background: url('../img/headline-bgs/what.svg') 0px 64px no-repeat transparent; */
  color: transparent; /* Allows us to still type in the text of what's there for screen readers but not show it for folks on traditional browsers */
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.what .copy {
  font-size: 2em;
  line-height: 1.25em;
}

.what p {
  color: #25235a;
  font-family: TTProstoSansCondensed-Bold;
  font-size: 0.65em;
  line-height: 1.3em;
  margin-top: 0;
  text-transform: uppercase;
  width: 95%;
}

.what .go-to-sign-up,
.sign-up .show-code-of-conduct {
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  font-family: TTProstoSansCondensed-Bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.what .go-to-sign-up {
  background-image: url('../img/buttons/button_signmeup.svg');
  background-position: center center;
  font-size: 0.35em;
  padding: 0 30px 17px 40px;
}

.sign-up .show-code-of-conduct {
  background-image: url('../img/buttons/button_codeofconduct.svg');
  background-position: top left;
  background-size: 100%;
  font-size: 1em;
  margin-left: -20px;
  margin-top: 30px;
  padding: 5px 21px 24px 35px;
}

.desktop-only {
  display: none;
}

.mobile-only.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.mobile-only.nav .scroll-to-top {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 1s linear;
}

.mobile-only.nav.get-background-color .scroll-to-top {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.mobile-only.nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s;
  z-index: 2;
}

/*
 * `.active` tells us the menu is open
 * `.get-background-color` tells us we have scrolled past the header
 */
.mobile-only.nav.get-background-color,
.mobile-only.nav.active,
.nav.desktop-only {
  background: #e3e5e5;
}

.nav.desktop-only {
  margin-top: 0;
  padding: 10px 0;
  position: relative;
  top: 0;
  z-index: 2;
}

.nav .logo {
  margin-top: 30px;
}

.nav.desktop-only ul {
  display: flex;
  justify-content: space-around;
}

.nav.desktop-only li {
  font-size: 0.75em;
}

.nav.desktop-only a {
  letter-spacing: 2px;
  line-height: 3.5em;
}

.nav-buttons-wrapper {
  padding-bottom: 22px;
}

.hamburger-button {
  margin-top: 35px;
}

.nav a {
  display: block;
}

.hamburger-button {
  cursor: pointer;
  float: right;
  padding: 10px 35px 16px 0px;
}

.hamburger-button span,
.hamburger-button span:before,
.hamburger-button span:after {
  background: #ec6561;
  border-radius: 1px;
  content: '';
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  width: 35px;
}

.hamburger-button span:before {
  top: -10px;
}

.hamburger-button span:after {
  bottom: -10px;
}

.hamburger-button span,
.hamburger-button span:before,
.hamburger-button span:after {
  transition: all 500ms ease-in-out;
}

.hamburger-button.active span {
  background-color: transparent;
}

.hamburger-button.active span:before,
.hamburger-button.active span:after {
  top: 0;
}

.hamburger-button.active span:before {
  transform: rotate(45deg);
}

.hamburger-button.active span:after {
  transform: rotate(-45deg);
}

.back-to-top {
  display: none;
}

nav {
  text-transform: uppercase;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
}

nav.active {
  height: 575px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  font-family: TTProstoSansCondensed-Black;
  font-size: 2em;
  list-style: none;
}

nav li a {
  color: #ec6561;
  padding: 0 10px;
  text-decoration: none;
}

nav li a:hover {
  background: #ec6561;
  color: #25235a;
}

.mobile-only nav {
  height: 0;
  background: #e3e5e5; /* TODO: Maybe can delete? */
}

.mobile-only nav li {
  font-family: RamaGothicC-SemiBold;
  font-size: 5em;
  font-style: normal;
  font-weight: normal;
}

.mobile-only nav li a {
  color: #25235a;
}

.speakers h1,
.speakers h2 {
  color: #667cb7;
}

.speakers {
  background: url('../img/patterns_stripe/dark_to_light.svg') 0 0 repeat-x transparent;
  background-size: 80px;
}

.speakers h2 {
  font-family: TTProstoSansCondensed-Bold;
  font-size: 1.2em;
  text-transform: none;
  line-height: 1.1em;
  margin-top: 10px;
}

.speakers section:nth-child(2) {
  margin-top: 50px;
}

.speakers .speaker-card:nth-child(3) {
  display: none;
}

.speaker-card {
  cursor: pointer;
  margin-bottom: 2em;
  transition: width 300ms ease-out;
  width: 80%;
}

.speaker-card.no-click {
  cursor: auto;
}

.speaker-card .bio {
  cursor: pointer;
  margin-top: 2em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-out;
}

.speaker-card.active .bio {
  max-height: 500px;
  max-width: 90%;
  transition: max-height 300ms ease-in;
}

.speaker-card.active {
  transition: width 300ms ease-in;
  width: 100%;
}

.speaker-block:first-child .speaker-card:first-child {
  border-bottom: none;
}

.speaker-block:first-child .speaker-card:nth-child(4) img {
  top: -10px;
}

.speaker-card.no-image {
  background-image: url(../img/speakers/bio_andmore.jpg);
}

.speaker-card:nth-child(odd) {
  float: left;
}

.speaker-card:nth-child(even) {
  float: right;
}

.speaker-card .name {
  color: #ec6561;
  font-family: TTProstoSansCondensed-Black;
  font-size: 1.3em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 15px;
}

.speaker-card.mid-width {
  display: none;
}

.image-wrapper {
  background: url('../img/patterns_stripe/bio-background.svg') bottom left no-repeat transparent;
  background-size: 0 0;
  position: relative;
  min-height: 248px; /* TODO: This is hot garbage */
}

.active .image-wrapper {
  background-size: 100% 238px;
}

.image-wrapper img {
  height: 238px;
  left: -10px;
  position: absolute;
  top: 10px;
  width: 238px;
}

.image-wrapper .image-square {
  border: 1px solid #ec6561;
  height: 238px;
  position: relative;
  width: 238px;
  z-index: 1;
}

.speaker-card .subtitle {
  color: #25235a;
  font-family: TTProstoSansCondensed-Italic;
}

.presentation-wrapper {
  clear: left;
}

.deets {
  padding-bottom: 180px;
  padding-top: 110px;
}

.deets .copy {
  font-family: TTProstoSansCondensed-Bold;
  font-size: 1.4em;
  line-height: 1.2em;
  margin-top: 32px;
}

/* .deets h2 { */
/*   display: inline; */
/*   background: url('../img/headline-bgs/deets_a.svg') 0px 64px no-repeat transparent; */
/* } */

.deets h4 {
  color: #25235a;
  font-size: 0.9em;
  width: 67%;
}

.deets .copy p a {
  color: #25235a;
}

strong {
  font-family: TTProstoSansCondensed-Bold;
  text-transform: uppercase;
}

.sign-up {
  padding-bottom: 144px;
}

.sign-up h1 {
  color: #ffcdbc;
  margin-bottom: 30px;
}

footer .bio p {
  color: #25235a;
  font-size: 1.2em;
  line-height: 1.35em;
  margin-top: 8px;
  width: 90%;
}

.sponsor-card .name,
.presentation-details h3,
.host-card .name {
  font-family: TTProstoSansCondensed-Black;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 38px;
}

.sponsor-card .name {
  font-size: 1.2em;
}

.sponsors {
  margin-top: 93px;
}

footer h3 {
  font-size: 1.3em;
  font-family: TTProstoSansCondensed-Black;
  margin-bottom: -10px;
}

.map {
  background: #212c5b;
  height: 500px;
  width: 500px;
}

.tito-submit-wrapper button {
  background-color: #ec6561;
  color: white;
  border: none;
  border-radius: 0;
  margin-top: 10px;
}

.tito-submit-wrapper button,
.show-presentation-details {
  font-family: TTProstoSansCondensed-Bold;
  padding: 0;
  text-transform: uppercase;
}

.show-presentation-details {
  background: #657db7;
  color: white;
}

.presentation-details {
  display: none;
}

.presentation-details.active {
  display: block;
}

.presentation-details h3 {
  color: #ffcebd;
}

.presentation-details p {
  color: white;
  font-size: 1.2em;
  line-height: 1.35em;
}

.code-of-conduct {
  color: #25235a;
  height: 0;
  margin-top: 40px;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
}

.code-of-conduct a,
.code-of-conduct strong {
  color: #25235a;
}

.code-of-conduct a {
  font-family: TTProstoSansCondensed-Bold;
}

.code-of-conduct p {
  font-size: 1.2em;
  line-height: 1.35em;
}

.code-of-conduct.active {
  height: 2600px;
}

.credits {
  clear: both;
  text-transform: uppercase;
}

.credits a {
  color: #25235a;
}

.credits h3 a {
  color: #ec6561;
}

.credits h3 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.tito-wrapper {
  background: #e3e5e5;
  border: none;
  border-radius: 0;
  padding: 10px 10px 25px 10px;
}

.tito-ticket-status span {
  background: #ec6561;
  border-radius: 0;
  color: white;
}

.tito-ticket-price-quantity-wrapper,
.tito-ticket-status,
.tito-ticket-status-sold-out,
.tito-ticket-name-wrapper {
  border-bottom: 0;
}

.tito-tickets-unavailable,
.tito-ticket-name,
.tito-ticket-list,
.tito-badge-link {
  color: #25235a;
  font-family: TTProstoSansCondensed-Bold;
}

.tito-tickets-unavailable {
  font-size: 0.7em;
}

.tito-ticket-list {
  margin: 0;
  table-layout: fixed;
}

.tito-ticket.row:first-child .tito-ticket-name-wrapper,
.tito-ticket.row:nth-child(2) .tito-ticket-name-wrapper {
  padding: 20px 0;
}

.tito-badge-link {
  width: auto;
  float: left;
}

.host-cards-container section:first-child {
  margin-bottom: 70px;
}

.credits {
  padding-top: 40px; /* TODO: Remove this style once we have sponors */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (min-width: 374px) {
  .code-of-conduct.active {
    height: 2200px;
  }

  .what .go-to-sign-up {
    font-size: 0.5em;
  }
}

/* All previous styles styled following layers_web2016_mobile_0_560.jpg */

/* layers_web2016_max_821_1024.jpg */
@media all and (min-width: 768px) {
  .medium-header {
    display: inline;
  }

  .small-header,
  .large-header {
    display: none;
  }

  p {
    font-size: 0.8em;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .what .wrapper {
    padding-top: 40px;
  }

  .what section {
    float: right;
    width: 82%;
  }

  .what h2 {
    float: left;
  }

  .what .copy {
    float: right;
    width: 75%;
  }

  .what .go-to-sign-up {
    margin-top: 0;
    margin-left: -32px;
  }

  .speakers .speaker-card:nth-child(3) {
    display: inline;
  }

  .speaker-card.mid-width {
    display: block;
  }

  .speaker-card.full-width {
    display: none;
  }

  .presenters {
    display: none;
  }

  .coming-soon-container {
    float: right;
    width: 82%;
  }

  .speakers section:first-child img {
    margin-left: 80px;
    margin-top: 40px;
  }

  /* Begin odd overlaying stuff */
  .speakers .container,
  .deets .container,
  .sign-up .container {
    position: relative;
  }

  .deets .wrapper {
    position: relative;
    background: url('../img/map.jpg') center center no-repeat transparent
  }

  .deets section {
    background-color: #edf1f2;
    clear: both;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    width: 65%;
  }

  .speakers section:nth-child(2) {
    margin-top: 0;
  }

  .speakers .wrapper {
    padding-top: 10px;
  }

  .speaker-card:nth-child(odd),
  .speaker-card:nth-child(even),
  .sponsor-card:nth-child(odd),
  .sponsor-card:nth-child(even) {
    float: left;
  }

  .speaker-card,
  .speaker-card.active {
    width: 50%;
  }

  .speaker-card .name {
    font-size: 1.3em;
  }

  .speaker-card .subtitle {
    border-bottom: 1px solid #c8cccd;
    font-size: 1em;
    width: 238px;
  }

  .speakers h2 {
    font-size: 1.5em;
    margin-left: 80px;
  }

  .sign-up .register {
    width: 85%;
    float: right;
  }

  .sign-up section:first-child {
    float: left;
  }

  .sign-up section:nth-child(2) {
    float: right;
    width: 69%;
  }

  .tito-ticket-price-quantity-wrapper {
    min-width: 160px;
  }

  .sign-up h1 {
    float: left;
  }

  .sponsor-card {
    float: right;
    height: 250px;
  }

  .sponsor-card.half-card {
    float: right;
    height: 125px;
  }

  .sponsors {
    float: right;
    width: 65%;
  }

  .deets section:nth-child(2) .copy {
    background: url(../img/section_graphics/graphic_deets.svg) left center no-repeat;
    background-size: 193px 179px;
  }

  .deets h1 {
    margin-top: 40px;
  }

  .code-of-conduct.active {
    height: 1750px;
  }

  .host-card {
    clear: both;
  }

  .host-card .name {
    margin-top: 0;
  }

  .host-cards-container section:first-child {
    float: right;
    width: 58%;
  }

  .host-cards-container section:last-child {
    clear: right;
  }

  .host-cards-container .image-wrapper,
  .host-cards-container .copy-wrapper {
    float: left;
  }

  .host-cards-container .copy-wrapper {
    margin-left: 30px;
    width: 55%;
  }

  .host-cards-container .image-wrapper,
  .host-cards-container .copy-wrapper {
    margin-top: 4em;
  }
}

/* layers_web2016_max_1024.jpg */
@media all and (min-width: 1024px) {
  .what section {
    width: 70%;
  }

  .large-header {
    display: inline;
  }

  .small-header,
  .medium-header {
    display: none;
  }

  .coming-soon-container {
    width: 70%;
  }

  .speaker-card {
    float: left;
    width: 25%;
  }

  .speaker-card.active {
    width: 50%;
  }

  .speaker-card.mid-width {
    display: none;
  }

  .speaker-card.full-width {
    display: block;
  }

  .speaker-block {
    clear: both;
  }

  .speaker-block:nth-child(odd) .speaker-card {
    float: right;
    clear: left;
  }

  .speaker-block:nth-child(even) .speaker-card {
    float: left;
  }

  .deets section {
    width: 50%;
  }

  .sponsors {
    clear: right;
    float: none;
    margin: 0 auto;
    width: 80%;
  }

  .host-card {
    width: 80%;
  }

  .host-card:last-child {
    float: right;
  }

  .sponsor-card {
    width: 33%;
  }

  .code-of-conduct.active {
    height: 1680px;
  }

  .container {
    max-width: 1024px;
  }

  .sign-up section {
    float: left;
  }

  .sign-up .container {
    width: 65%;
  }

  .sign-up section:nth-child(2) {
    float: right;
    width: 71%;
  }

  .tito-wrapper {
    margin: 20px auto 0 10px;
  }

  .host-cards-container .copy-wrapper {
    width: 65%;
  }
}


@media all and (min-width: 1200px) {
  .code-of-conduct.active {
    height: 1480px;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
